@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Dosis:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* ===== Reset ===== */
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: "Dosis", sans-serif;
 font-size: 1rem;
}

html{
  background-color: var(--color-background-light);
}

a {
 text-decoration: none;
 color: inherit; 
 transition: all 0.5s ease-in-out;

}

li {
 list-style-type: none;   
 
}

/* ===== Variables ===== */
:root {
 --color-background-dark: #212121;
 --color-background-light: #E0E0E0;
 --color-surface: #F8FAFC;
 --color-accent: #4c47b2;
 --color-accent-light: #7e75dc;
 --color-accent-dark: #302c81;
 --color-text-dark: #1C1C1E;
 --color-text-light: #FFFFFF;
  --dark-color:#343434;

}

/* ===== Layout principal ===== */
.main-container {
 max-width: 100vw;
 margin: 4rem auto 2rem;
 background-color: var(--color-background-light);
}

/* ===== Header ===== */
.header {
 background-color: var(--color-background-dark);
 color: var(--color-text-light);
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 3rem;
 padding: 0 1.5rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 1000;
}

.header__text {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}

/* ===== Menu (Mobile por padrão) ===== */
.navbar {
 display: none;
 position: absolute;
 top: 3rem;
 left: 10rem;
 background-color: var(--color-background-light);
 padding: 1rem;
 border: 1px solid rgba(0, 0, 0, 0.1);
 flex-direction: column;
 gap: 10px;
 width: 10rem;
}

.navbar.active {
 display: flex;
}

.navbar__list{
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.navbar__link {
 color: var(--color-text-dark);
 font-weight: 500;
}

.navbar__link:hover{
 color: var(--color-accent);
}

/* Ícone do menu responsivo */
.navbar__icon {
 color: var(--color-accent);
 font-size: 2rem;
 background: none;
 border: none;
 cursor: pointer;
}




/* ==== portfolio section ==== */

.portfolio__grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding: 1rem; 
}

.portfolio__header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio__title{
  color: var(--color-accent-light);
  font-size: 3rem;
}

hr{
  width: 200px;
  height: 2px;
  background-color: var(--color-accent-dark);
  margin: 0.5rem 0 0.5rem 0;
}

.portfolio__subtitle{
  font-family: "Satisfy", cursive;
  color: var(--color-text-dark);
  font-size: 2rem;

}

.project-card{
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 1rem;
  padding: 1rem;
  min-height: 15rem;
  min-width: 10rem;
  box-shadow: 1px 1px 2px var(--dark-color);
  background: url(img/pexels-photo-1109541.webp) center center/ cover;
}

.project-card__link{
  padding: 0.5rem;
  border: 1px solid #343434;
  background-color: var(--color-background-light);
  transition: transform 0.3s ease;
}

.project-card__link:hover{
  transform: scale(1.03);
}

/* ==== bottom section ==== */
.section-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0 2rem;
}

.section-bottom__list{
  display: flex;
  gap: 1rem;
}

.section-bottom__image{
  width: 2rem;
  transition: transform 0.3s ease;
}

.section-bottom__image:hover{
  transform: scale(1.1);
}

.section-bottom__btn{
  color: var(--color-accent);
  background-color: var(--color-text-light);
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.247);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== Footer ===== */
.footer {
 background: var(--color-background-dark);
 color: var(--color-background-light);
 display: flex;
 align-items: center;
 justify-content: center;
 height: 2.5rem;
 padding: 0 1rem;
}

.footer__text {
 font-size: 1.3rem;
}

.footer__text a{
  font-size: 1.3rem;
  cursor: pointer;
}

.footer__text a:hover{
  text-decoration:underline;
}


/* ===== >= 768px ===== */
@media (min-width: 768px) {
 
 .portfolio__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

  
/* ===== >= 992px ===== */
@media (min-width: 992px) {
 .header {
    position: static;
    height: auto;
    padding: 0.4rem 2rem;
 }

 .navbar {
    display: flex;
    position: static;
    flex-direction: row;
    background-color: var(--color-background-dark);
    padding: 0;
    border: none;
    width: auto;
 }

 .navbar__list{
    display: flex;
    flex-direction: row;
 }

 .navbar__link {
    color: var(--color-text-light);
    padding: 0 1rem;
 }

 .navbar__icon {
    display: none;
 }

 .portfolio__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-bottom__btn{
    position: absolute;
    left: 1300px;
   }
}
